<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title </title>>
    <link href="@Url.Content("~/styles/font-awesome.css")" rel="stylesheet" type="texte/css" />
    <link href="@Url.Content("~/styles/style.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/fonts")" rel="stylesheet" />
    <link href="@Url.Content("~/images/bann.jpg")"/>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
